body {
    background: white;
}

.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    gap: 20px;
    padding-top: 100px;
}

.container img {
    width: 100px;
    height: 100px;
}