body {
    background: white;
}

.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    gap: 20px;
    padding-top: 100px;
}

.container img {
    width: 230px;
    height: 200px;
    border-radius: 10px;
}

.card {
    font-weight: 700;
}